div.table-responsive
	table.table.table-striped.mb-0
		thead
			tr
				th.data-header.text-left Block height
				th.data-header.text-left Timestamp
				th.data-header.text-left Transactions
				th.data-header.text-left Size

		tbody

			each block, blockIndex in blocks
				if (block && ((sort == "desc" && blockIndex < blocks.length - 1) || (sort == "asc" && (block.height == 0 || blockIndex > 0))))
					tr
						td.data-cell.text-monospace.text-left
							a(href=("/block-height/" + block.height)) #{block.height.toLocaleString()}
						
						td.data-cell.text-monospace.text-left
							- var timestampHuman = block.time;
							include timestamp-human.pug								

						td.data-cell.text-monospace.text-left #{block.tx.length.toLocaleString()}

						td.data-cell.text-monospace.text-left 2

						- var lastBlock = block;
