hr {
	background-color: #555555;
}

.nav-tabs .nav-link.active {
	border-color: #9a9b9c #9a9b9c #0c0c0c !important;
}

.data-tag {
	color: #111 !important;
	border-color: #cccccc !important;
}

.data-tag.bg-dark {
	background-color: #cccccc !important;
}

.alert {
	opacity: 0.8 !important;
}

hr {
	border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.hljs-attr {
	color: #eeeeee;
}

.hljs, .hljs-subst {
	color: #dddddd;
}

.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
	color: #95dbc6;
}

a {
	color: #F59332
}

.btn-primary {
    color: #f2f3f4;
    background-color: #4D4D4D;
    border-color: #4D4D4D;
}
.btn-primary:hover {
    color: #fff;
    background-color: #F59332;
    border-color: #F59332;
}
.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: #F59332;
    border-color: #F59332;
    box-shadow: 0 0 0 0.2rem rgba(113, 179, 251, 0.5);
}

.navbar-dark .navbar-text a {
    color: #F59332;
}
